/* quote 1 div stylings*/

#quote1 {
    width: 25%;
    padding-left: 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 15px;
}

img {
    height: 70px;
    width: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#infos {
    display: flex;
    gap: 10px;
}

.info {
    flex: 1;
}

.review {
    font-weight: bold;
    font-size: 25px;
}

h3 {
    padding-top:-40px;
    margin-bottom: -15px;
}